main{
  width:350px;
  margin:50px;
}

.dentaku{
  padding:25px;
  background-color:black;
}

.nyuuryokuran{
  background-color:black;
  color:white;
  width:290px;
  font-size:40px;
  text-align:right;
  margin-bottom:15px;
  border:none;
}

.button_1{
  width:60px;
  height:60px;
  margin:5px;
  font-size:30px;
  border-radius:100%;
  border:none;
}

.button_2{
  width:135px;
  height:60px;
  margin:5px;
  font-size:30px;
  border-radius:38px;
  border:none;
}

#number_button{
  background-color:#444444;
  color:white;
}

#operator_button{
  background-color:#FFA500;
  color:white;
}

#clear_button{
  background-color:#D3D3D3;
}

.button_1:hover, .button_2:hover{
  opacity:0.7;
}